.header {
    padding: 92px 49px 96px 51px;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
}

.header__links-list {
    display: flex;
    gap: 28px;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 18px;
    white-space: nowrap;
}

.header__link.header__link_active {
    text-decoration: none;
}

.header__links-list-item{
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

/* .header__links-list {
    line-height: normal;
} */

.header__logo-image {
    display: block;
    width: 148px;
    height: 105;
}


.address {
    width: 240px;
    white-space: nowrap;
    justify-self: end;
    line-height: 1.35;
    text-underline-offset: 4px;
    font-style: normal;
}

.header__address {
    white-space: normal;
}
